<div [class]="shellClass()" style="background:#EDF1F7">

  @if (showNav()) {
    @if (isMobile()) {
      <app-bottom-nav class="shrink-0" />
    } @else {
      <app-sidebar class="shrink-0" />
    }
  }

  <main
    id="main-content"
    tabindex="-1"
    [class]="contentClass()"
  >
    <router-outlet />
  </main>

  @if (showNav() && !showOnboardingOverlay()) {
    <app-fab />
  }
  <app-toast-container />

  @if (showOnboardingOverlay()) {
    <app-onboarding (done)="onOnboardingDone()" />
  }

</div>
